<header>
    <h2>Angular 2 Guide</h2>
    <ul class="item-list">
        <li class="item" routerLinkActive="active"><a routerLink="/intro">Introduction</a></li>
        <li class="item" routerLinkActive="active"><a routerLink="/setup">Setup</a></li>
        <li class="item" routerLinkActive="active"><a routerLink="/modules">Modules</a></li>
        <li class="item" routerLinkActive="active"><a routerLink="/components">Components</a></li>
        <li class="item" routerLinkActive="active"><a routerLink="/directives">Directives</a></li>
        <li class="item" routerLinkActive="active"><a routerLink="/services">Services</a></li>        
        <li class="item" routerLinkActive="active"><a routerLink="/observables">Observables</a></li>
        <li class="item" routerLinkActive="active"><a routerLink="/pipes">Pipes</a></li>
        <li class="item" routerLinkActive="active"><a routerLink="/forms">Forms</a></li>        
        <li class="item" routerLinkActive="active"><a routerLink="/http">HTTP</a></li>
        <li class="item" routerLinkActive="active"><a routerLink="/routing">Routing</a></li>
        <li class="item" routerLinkActive="active"><a routerLink="/optimizing">Optimizing</a></li>
    </ul>

</header>