<div class="team-wrapper">
  <div class="row team-component">
    <h2 class="team-header">Component 1</h2>
    <!-- Team List Component -->
    <div class="team-list-container col-sm-6">
      <app-team-list></app-team-list>
    </div>
    <!-- Team Detial Component -->
    <div class="team-list-container col-sm-6">
      <app-team-detail></app-team-detail>
    </div>
  </div>

  <div class="row team-component">
    <h2 class="team-header">Component 2</h2>
    <div class="team-list-container col-sm-12">
      <app-team-admin></app-team-admin>
    </div>
  </div>

  <div class="row team-component">
    <h2 class="team-header">Component 3</h2>
    <div class="team-form-container col-sm-6">
      <app-template-team-form></app-template-team-form>
    </div>
    <div class="team-form-container col-sm-6">
      <app-reactive-team-form></app-reactive-team-form>
    </div>
  </div>

</div>
